<div class="row justify-content-center">
  <div class="col-6 mt-3">

    <h1>New review</h1>
    <%= simple_form_for [@restaurant, @review] do |f| %>
     <%= f.input :content %>
     <%= f.input :rating %>
     <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
